

// cards =========================================



.card {
    margin: 0 auto;
    margin-bottom: 25px;
    background-color: #fff;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, .3);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, .3);

    .card-body {
        padding-top: 10px;
        
        .categoria {
            display: block;
            margin-bottom: 7px;
            font-size: 9px;
            color: $gray-middle;
            text-transform: uppercase;
        }

        .video-text {
            margin-bottom: 10px;
            font-size: 12px;
        }

        .class-text {
            margin-bottom: 20px;
            font-size: 18px;
        }
        
        .info-video {
            font-size: 12px;
            color: $gray-middle;
        }

        .info-turma {
            line-height: 1rem;
        }
    }

    
}