    footer {
        h4 {
            color: $acqua;
            font-size: 20px;
            font-weight: $font-weight-normal;
        }
        background-color: #ebebeb;
        p {
            color: $gray-dark;
            font-size: 12px;
            margin-top: 20px;
        }
        li {
            padding-top: 20px;
        }
        a {
            color: $gray-dark;
            &:hover {
                color: $gray-dark;
            }
        }
        h2 {
            color: $acqua;
            font-size: 20px;
            font-weight: $font-weight-normal;
            padding-top: 10px;
        }
        .footer-middle {
            width: 100%;
            display: block;
            padding-top: 2em;
            font-size: 12px;
            .footer-pad {
                .input-group {
                    margin-top: 10px;
                    font-size: 12px;
                    border-radius: none;
                    .form-control {
                        border-radius: none;
                        font-size: 12px;
                    }
                }
                .input-group-append {
                    color: #fff;
                    background-color: $acqua;
                    border: none;
                    .btn-outline-secondary {
                        color: #fff;
                        background-color: $acqua;
                        border: none;
                    }
                }
            }
            .list-unstyled {
                width: 100%;
                & ul li {
                    display: block;
                    width: 100%;
                    line-height: 12px;
                    position: relative;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    & a {
                        display: block;
                        text-decoration: underline;
                        position: absolute;
                        z-index: 1;
                    }
                    &:before {
                        content: '';
                        position: absolute;
                    }
                    &:after {
                        content: '';
                        position: absolute;
                    }
                    &:hover:before {
                        width: 100%;
                    }
                    &:hover:after {
                        width: 100%;
                    }
                }
            }
        }
        .footer-bottom {
            border-top: #c0c0c0 1px solid;
            margin-bottom: 20px;
            padding-bottom: 20px;
        }
        .social {
            color: #fff;
            vertical-align: middle;
            text-align: center;
            margin-top: 20px;
            nav {
                margin: 0 auto;
                max-width: 30rem;
            }
            a {
                display: inline-block;
                height: 36px;
                width: 36px;
                border: 0;
                color: #fff;
                cursor: pointer;
                vertical-align: middle;
                font-size: 12px;
                transition: all ease-in-out .3s;
                border-radius: 50px;
                text-decoration: none;
                background-color: $acqua;
                padding: 10px;
                margin-left: 8px;
                &::before {
                    display: inline-block;
                    vertical-align: middle;
                    margin: 0 0.5em;
                }
            }
        }
        address {
            font-size: 12px;
            margin-top: 20px;
            span {
                font-size: 34px !important;
                color: $acqua;
                padding-right: 15px;
                float: left;
            }
        }
        img {
            text-align: center;
            width: 100%;
            height: auto;
            margin-bottom: 10px;
        }
        .footer-bottom-responsive {
            display: none;
        }
    }
    
    @media (max-width: 768px) {
        footer {
            h4 {
                text-align: center;
                margin-top: 25px;
            }
            background-color: #ebebeb;
            li {
                text-align: center;
            }
            h2 {
                display: none;
            }
            .footer-bottom {
                display: none;
            }
            .footer-bottom-responsive {
                border-top: #c0c0c0 1px solid;
                margin-bottom: 20px;
                display: block;
                .social {
                    h3 {
                        padding-right: 20px;
                        float: left;
                        text-align: left;
                        margin-top: 10px;
                        color: $acqua;
                        font-size: 18px;
                        font-weight: $font-weight-normal;
                    }
                    display: inline-flex;
                    color: #fff;
                    vertical-align: middle;
                    text-align: center;
                    margin-top: 20px;
                    float: right;
                    nav {
                        margin: 0 auto;
                        max-width: 30rem;
                    }
                    a {
                        display: inline-block;
                        height: 36px;
                        width: 36px;
                        border: 0;
                        color: #fff;
                        cursor: pointer;
                        vertical-align: middle;
                        font-size: 12px;
                        transition: all ease-in-out .3s;
                        border-radius: 50px;
                        text-decoration: none;
                        background-color: $acqua;
                        padding: 10px;
                        margin-left: 8px;
                        &::before {
                            display: inline-block;
                            vertical-align: middle;
                            margin: 0 0.5em;
                        }
                    }
                }
                .copy {
                    border-top: #c0c0c0 1px solid;
                    margin-bottom: 20px;
                }
                address {
                    font-size: 12px;
                    margin-top: 20px;
                    span {
                        font-size: 34px !important;
                        color: $acqua;
                        padding-right: 15px;
                        float: left;
                    }
                }
                img {
                    text-align: center;
                    width: 100%;
                    height: auto;
                    margin-bottom: 10px;
                }
            }
        }
    }
    
    // styles