
// page home ======================================================================


section {

    margin-top: 75px;

    .title-section {
        text-align: center;
    }

    .sub-title-section {
        text-align: center;
        font-size: 1.1rem;
    }

    .btn-link {
        min-width: 200px;
        color: #fff;
        padding-top: 10px;
        padding-bottom: 10px;

        &.more {
            min-width: inherit;
            background-color: #fff;
            color: $gray-dark;
            border: 1px solid $gray-dark;
        }

        &:hover {
            text-decoration: none;
        }
    }

    &.content-choice {

        .content {
            text-align: center;
            margin: 0 auto;
            max-width: 320px;
            padding: 10px;

            img {
                max-width: 225px;
                height: auto;
                margin: 0 auto;
            }

            h4, p, {
                text-align: center;
            }

            h4 {
                font-weight: $font-weight-light;
            }

            p {
                min-height: 100px;
            }

            &.video {
                h4{
                    color: $green;
                }
                .btn-link {
                    background-color: $green;
                }
            }
            &.cursos {
                h4{
                    color: $blue;
                }
                .btn-link {
                    background-color: $blue;
                }
            }
            &.turmas {
                h4{
                    color: $purple;
                }
                .btn-link {
                    background-color: $purple;
                }
            }

            .btn-link {
                color: #fff;
            }

            // @include media-breakpoint-up(sm) {
            //     margin: 0 10px;
            // }
        }

        
    }

    &.info {

        padding: 90px 0;
        background-color: $gray-light;

        .content {
            text-align: center;
            margin: 0 auto;
            padding: 10px;

            .lnr {
                display: block;
                width: 50px;
                height: 50px;
                margin: 0 auto;
                font-size: 2rem;
                color: $purple;

                &.size {
                    &-a {font-size: 2.5rem;}
                    &-b {
                        font-size: 3rem;
                        margin-top: -5px;
                        margin-bottom: 5px;
                        font-weight: lighter;
                    }
                }
            }

            p {
                font-size: 1.1rem;
                
                &.number {
                    font-size: 2.2rem;
                    margin-bottom: 10px;
                }
            }

        }

    }



    &.watch {

        .nav, 
        .tab-content {
            margin-top: 50px;
        }

        .card {
            max-width: 250px;
        }

    }


    &.class {

        .cards {
            margin-top: 50px;
        }

        .card {
            max-width: 331px;

            .info-turma {
                font-size: 10px;
            }

            .stars {

                font-size: 16px;
                
                i {
                    display: inline;
                    margin-left: 3px;
                    color: $yellow;
                }
            }
        }

    }

    &.especialist {

        .cards {
            margin-top: 50px;

            .card-body {

                padding: 15px;
                padding-left: 75px;
                padding-right: 10px;

                .rounded-circle {
                    position: absolute;
                    top: 24%;
                    left: 15px;
                    width: 45px;
                    height: 45px;
                }

                p {
                    font-size: 14px;
                    font-weight: $font-weight-bold;
                    line-height: 1rem;
                    margin-bottom: 5px;
                }

                span {
                    font-size: 12px;
                    color: $gray-middle;
                }

            }
        }

    }

    &.depoiment {
         
        .cards {
            margin-top:  50px;
            
            .depoiment-item {
                
                .card-body {
                    position: relative;
                    padding: 45px 50px 45px 80px;
                    border: 2px solid $ciano;

                    &::before {
                        position: absolute;
                        bottom: -18px;
                        left: 35px;
                        content: '';
                        border-style: solid;
                        border-width: 18px 15px 0px 15px;
                        border-color: #05DCD5 transparent #fff transparent;
                    }

                    &::after {
                        position: absolute;
                        bottom: -15px;
                        left: 35px;
                        content: '';
                        border-style: solid;
                        border-width: 18px 15px 0px 15px;
                        border-color: #fff transparent transparent transparent;
                    }

                    .fa {
                        font-size:  27px;
                        color: $gray;
                    }

                    .fa-quote-left {
                        position: absolute;
                        display: block;
                        top: 20px;
                        left: 25px;
                    }

                    .fa-quote-right {
                        position: absolute;
                        display: block;
                        right: 25px;
                        bottom: 20px;
                    }
                    
                }

                .depoiment-autor {
                    position: relative;
                    margin-top: 20px;
                    padding: 20px;
                    padding-left: 100px;
                    
                    .rounded-circle {
                        position: absolute;
                        top: 15px;
                        left: 15px;
                        width: 70px;
                        height: 70px;
                    }

                    span {
                        display: block;

                        &.name-autor {
                            font-size: 18px;
                            color: $ciano;
                        }
                        &.job-autor,
                        &.pin-autor {
                            font-size: 14px;
                        }
                    }
                }
            }
        }

    }

    &.seven-days {

        .card-body {

            text-align: center;
            padding: 65px 0;

            .lnr {
                font-size: 130px;
                color: $purple;
            }

            h4 {
                margin-bottom: 20px;
            }

            .btn-link {
                padding-top: 15px;
                padding-bottom: 15px;
                color: #fff;
                background-color: $purple;
            }
        }
    }

    &.blog {

        .chap {
            display: block;
            text-align: center;
            color: $gray;
            font-size: 18px;
            text-transform: uppercase;
        }

        .cards {
            margin-top: 50px;

            .card-body {
                
                p {
                    font-size: 12px;

                    &.card-text {
                        font-size: 14px;
                        font-weight: $font-weight-middle;
                    }
                }

            }

            .btn-link {
                min-width: 120px;
                padding: 5px 10px;
                font-size: 12px;
                background-color: $purple;
            }


        }


    }

    .line-action {

        margin-top: 45px;
        text-align: center;

        .seven-days {
            margin-right: 40px;
            width: 265px;
            background-color: $acqua;
            color: #fff;
        }
        
    }

}

