
// Variables =================================================================



// font ----------------------

$font-family: 'Open Sans', sans-serif !default;
$font-family-base:  $font-family !default;

$font-size-base: 16px;

$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-middle: 600 !default;
$font-weight-bold: 700 !default;

$font-weight-base: $font-weight-normal !default;
$line-height-base: 1.5 !default;


// Colors --------------------

$purple: #720BA6;
$purple-light: #8833A2;
$purple-dark: #55026E;

$pink: #CE64EF;

$gray: #C5C5C5;
$gray-light: #F2F2F2;
$gray-middle: #B1B1B1;
$gray-dark: #606060;

$green: #45C211;
$blue: #3D8AF7;
$orange: #E79110;
$yellow: #E7C310;
$red: #D50000;
$ciano: #05DCD5;
$acqua: #00B9B3;

// Mixins =================================================================

@mixin clearfix() {
    &::after {
      display: block;
      clear: both;
      content: "";
    }
}

@mixin font-size($sizeValue: 1.6) {
    font-size: ($sizeValue * 10) + px;
    font-size: $sizeValue + rem;
}
  





